@charset "UTF-8";

@use "./base/variables" as *;
@use "./base/reset" as *;
@use "./base/mixin" as *;
@use "./base/functions" as *;

// common styles
html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 height: 100%;
 -webkit-tap-highlight-color: transparent;
 -webkit-text-size-adjust: 100%;
 width: 100%;
 font-family: var(--ff_main);
}
body {
 &.is_spOverflow {
  overflow: hidden;
  height: 100%;
 }
}

header {
 width: 100%;
 height: 100px;
 background: #aaa;
 display: flex;
 align-items: center;
 justify-content: center;
}

footer {
 width: 100%;
 height: 100px;
 background: var(--color_dark);
 color: var(--color_light);
 display: flex;
 align-items: center;
 justify-content: center;
}
